<div ng-controller="defaultController as dc" ng-init="initController()">
    <img src="images/ev.jpg" style="width:100%; height:100%"/>
    <div id="taTodo" jqfloat style="width:40%; position: absolute; top: 16%; left: 3%;">
        <textarea style="width:100%;color:#ff0000" rows="6" id="txtNote" ng-model="note.noidung"></textarea>
        <input type="button" class="btn btn-info" value="Lưu" ng-click="saveNote()">
    </div>
    
</div>
<style type="text/css">
    .navbar{
        margin-bottom: 0px !important;
    }
</style>